.timer__settings{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
} 
.timer__music-volume{
    position: absolute;
    left: 30px;
    bottom: 0;
}
.timer__management{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    display: flex;
    gap: 45px;
    border: var(--border);
    border-radius: 80px;
    padding: 10px 90px;
}
