.timer__settings{
    width: 100vh;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
} 
.timer__music-volume{
    position: absolute;
    left: 30px;
    bottom: 0;
}
.timer__management{
    position: absolute;
    right: -290px;
    bottom: 0;
    display: flex;
    gap: 45px;
    justify-content: space-between;
    border: var(--border);
    border-radius: 80px;
    padding: 10px 90px;
    font-size: 24px;
}