.timer__settings{
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 30px;
} 
.timer__music-volume{
    position: relative;
    left: 30px;
    bottom: 0;
}
.timer__management{
    position: relative;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    display: flex;
    gap: 45px;
    border: var(--border);
    border-radius: 80px;
    padding: 10px 90px;
}
@media (max-width: 1024px){
    .timer__management{
        gap: 30px;
        border-radius: 80px;
        padding: 10px 75px;
    }
}

@media (max-width: 760px){
   .timer__management{
        gap: 25px;
        border-radius: 80px;
        padding: 10px 60px;

        position: absolute;
        left: 50%;
        bottom: 25px;
        transform: translateX(-50%);
    }
    .timer__management button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        padding: 0;
    }
}

@media (max-width: 480px){
   .timer__management{
        gap: 25px;
        border-radius: 80px;
        padding: 10px 60px;

        position: absolute;
        left: 50%;
        bottom: 25px;
        transform: translateX(-50%);
    }
    .timer__management button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        padding: 0;
    }
}